
*.zip

*.lock

.metadata/.mylyn/.taskListIndex/segments_1

.metadata/.plugins/org.eclipse.core.resources/.history/1d/60360475924600181af1d48820cfeb72

*.rss

*.xml

.metadata/.plugins/org.eclipse.ui.intro/introstate

*.setup

*.history

*.png

*.index

*.json

*.txt

*.log

*.cfs

*.xmi

*.launch

*.prefs

*.cfe

*.snap

*.si

*.properties

*.ini

*.dat

*.db

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/segments_1

*.resources

LinkedLists/.project
/.metadata/
/.recommenders/

LinkedLists/.classpath
